@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&family=Public+Sans:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@100&display=swap');

//fontawesome
 i {
   background-color: black;
 }
 img.d-inline-block.align-text-top {
         height: 180px;
         width: 200px;
 }

 .bg-light {
        background-color: #ffff !important;
}
ul.nav.justify-content-end {
        background-color: black;
}
.nav-link {
        display: block;
        padding: .5rem 1rem;
        color: white;
        text-decoration: none;
        transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
}
.btn-outline-success {
        color: #181818;
        border-color: red;
        margin-right: 40px;
        font-family: 'Public Sans', sans-serif;
}
i.fas.fa-search {
        margin: 5px;
}
.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show>.nav-link {
        color: rgba(0,0,0,.9);
        font-family: 'Noto Sans', sans-serif;
        font-size: larger;
        /* font-weight: bolder; */
        margin: 15px;
}
.nav-link:focus, .nav-link:hover {
        color: red;
}
.btn-outline-success:hover {
        color: #fff;
        background-color: red;
        border-color: black;
}
img#us {
        height: 23px;
        width: 23px;
}
a {
        color: white;
}
a:hover {
        color: white;
}
li#shipping-cart {
  background-color: red;

}
span {
        color: black;
}
